.MainContainerStyle {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.ListAndSelectConteinerStyle {
  display: flex;
  flex-direction: row;
}

@media(max-width:500px){
  .MainContainerStyle{
    gap: 10px;
    padding: 0px 10px;
  }
}
